body{

}

#container{

}

.game-score{
   width:100px;
   height:100px;
   margin-left:50px;
   margin-top:30px;
   float: left;
}

#tries{

}

#matches{

}

.overall-game-score{
   width:100px;
   height:100px;
   margin-right:50px;
   margin-top: 30px;
   float:right;
}

#total-score{

}

#games-played{

}

#h1{
   margin:40px auto;
   text-align: center;
   font-weight: 800;
   font-size: 70px;
}

#game-board{
	margin:0 auto;
	border-style: solid;
	border-color: black;
	width:480px;
	height:480px;
}

#square-one{
	width: 100px;
	height:100px;
	background-color: red;
	float:left;
	margin: 10px;
}

#square-two{
	width: 100px;
	height:100px;
	background-color: red;
    float:left;
	margin:10px;
}

#square-three{
    width: 100px;
	height:100px;
	background-color: red;
    float:left;
	margin:10px;
}

#square-four{
    width: 100px;
	height:100px;
	background-color: red;
    float:left;
	margin:10px;
}

#square-five{

}

#square-six{

}

#square-seven{

}

#square-eight{

}

#button{
   margin:0 auto;
   text-align: center;
   padding-top: 
}